<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>fi.iki.sti.xprotect_watch.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/growlnotify</string>
        <string>--title</string>
        <string>XProtect Update</string>
        <string>--message</string>
        <string>XProtect plist was updated</string>
        <string>--sticky</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/XProtect.plist</string>
    </array>
</dict>
</plist>
